/* G E N E R A L */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
}

input:focus {
    outline: none;
}

input[type="submit"]:hover, input[type="submit"]:active{
    cursor: pointer;
}

label {
    cursor: pointer;
}

.task1 {
    background: #505050;
    padding: 40px;
}

.task2 {
    background: #484d53;
    border-top: 1px dashed white;
}

.task3 {
    background: #00bd9b;
    border-top: 1px dashed white;
    color: white;
}

/* ---------- TASK 1 ---------- */

form[name="task1Form"] {
    width: 639px;
    height: 496px;
    background-color: #505050;
    padding: 40px 80px;
    border: 3px solid white;
    margin: auto;
}

.box {
    border: 3px solid white;
    height: 100%;
    padding: 36px 75px;
    text-align: center;
}

.leave-contacts {
    font-size: 16px;
    padding: 30px 40px;
    border-radius: 25px;
    margin-bottom: 40px;
    cursor: default;
}

.leave-contacts, .box input[type="submit"] {
    width: 100%;
    border: none;
    color: white;
    background: none;
}

.leave-contacts, .line-text {
    background: #4a4a4a;
    box-shadow: inset 0px 0px 10px rgb(39, 39, 39);
}

.box input[type="text"], .box input[type="tel"] {
    margin-top: 5px;
    margin-left: -40px;
    background: none;
    color: white;
    padding: 4px;
    width: 70%;
    height: 90%;
}

.line-text, .box input[type="submit"] {
    border-radius: 25px;
    margin-bottom: 20px;
}

.line-text{
    height: 50px;
}

/* Buttons */

.input-icon {
    height: 46px;
    width: 46px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    background: linear-gradient(to bottom, #0aa7ed 20%, #037aab 80%);
}

.user {
    height: 50%;
    margin-top: 9px;
}

.phone {
    height: 45%;
    margin-top: 12px;
    transform: rotate(90deg);
}

.box input[type="submit"] {
    background: linear-gradient(to bottom, #0aa7ed 20%, #037aab 80%);
    box-shadow: 0px 0px 10px 0px rgb(39, 39, 39);
    font-size: 16px;
    padding: 18px;
}

.box input[type="submit"]:hover, .box input[type="submit"]:active {
    background: linear-gradient(to top, #0aa7ed 20%, #037aab 80%);
    box-shadow: inset 0px 0px 16px #037aab,
                0px 0px 10px 0px rgb(39, 39, 39);
}

.box label:hover, .box label:active {
    background: linear-gradient(to top, #0aa7ed 20%, #037aab 80%);
    box-shadow: inset 0px 0px 16px #037aab;
}


/* ---------- TASK 2 ---------- */

.descr {
    color: white;
    margin: auto;
    width: 450px;
    height: fit-content;
    text-align: center;
    cursor: default;
    margin-bottom: 25px;
}

.warning {
    font-size: 52px;
}

form[name="task2Form"] {
    margin: auto;
    width: 630px;
    height: 640px;
    padding: 70px 80px 60px;
}

form[name="task2Form"] input {
    width: 100%;
    height: 80px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    border-radius: 3em;
    background: none;
    color: white;
    margin-bottom: 25px;
}

form[name="task2Form"] input[type="text"], 
form[name="task2Form"] input[type="email"],
form[name="task2Form"] input[type="tel"] {
    border: 1px solid white;
}

form[name="task2Form"] input[type="text"]::placeholder, 
form[name="task2Form"] input[type="email"]::placeholder,
form[name="task2Form"] input[type="tel"]::placeholder {
    color: white;
}

form[name="task2Form"] input[type="text"]:focus, 
form[name="task2Form"] input[type="email"]:focus,
form[name="task2Form"] input[type="tel"]:focus {
    border-color: #30ad64;
}

form[name="task2Form"] input[type="submit"] {
    background: #30ad64;
    text-transform: uppercase;
}

form[name="task2Form"] input[type="submit"]:hover,
form[name="task2Form"] input[type="submit"]:focus {
    color: #30ad64;
    background: white;
}


/* ---------- TASK 3 ---------- */
.center {
    margin: auto;
    width: 680px;
    height: 340px;
    padding: 50px;
}

img[alt="E-mail"] {
    width: 90px;
}

.welcome {
    float: left;
    margin-right: 35px;
}

.triangle {
    color: #eeeff1;
    float: left;
    margin-top: 45px;
    font-size: 26px;
    user-select: none;
}

form[name="task3Form"] {
    height: 250px;
    width: 370px;
    float: left;
    background: #eeeff1;
    margin-left: -4px;
    border-radius: 8px;
    color: grey;
    padding: 20px;
}

/* inputs */
form[name="task3Form"] input {
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* граница потому что бордер бокс не получилось применить,
при выделении текстового поля появляются границы и
инпуты ползут вниз. не разобралась как пофиксить */ 
form[name="task3Form"] input[type="text"], 
form[name="task3Form"] input[type="password"] {
    background-color: white;
    color: grey;
    border: 3px solid white;
}

form[name="task3Form"] input[type="text"] {
    background-image: url(img/man-user_grey.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
}

form[name="task3Form"] input[type="password"] {
    background-image: url(img/padlock_grey.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
}

form[name="task3Form"] input[type="text"]::placeholder, 
form[name="task3Form"] input[type="password"]::placeholder {
    color: grey;
}

form[name="task3Form"] input[type="text"]:focus, 
form[name="task3Form"] input[type="password"]:focus {
    border-color: #00bd9b;
}

form[name="task3Form"] input[type="text"]:focus {
    background-image: url(img/man-user_turquoise.svg);
}

form[name="task3Form"] input[type="password"]:focus {
    background-image: url(img/padlock_turquoise.svg);
}

/* Button */

form[name="task3Form"] input[type="submit"] {
    background: #00bd9b;
    color: white;
    border: 3px solid #00bd9b;
}

/* Lost password? */
form[name="task3Form"] p {
    text-align: center;
    font-size: 14px;
}


